<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
                <a href="/">
                <img src="/assets/logo_tech_talk.png" alt="" width="180" height="60">
                </a>
                <nav>
                    <a href="/">Home</a> |
                    <a href="/dashboard/">Dashboard</a> |
                   
                    {{#if loggedIn}}
                    <a id="logout" href="/">Logout</a> 
                    {{else}}
                     <a href="/login/">Login</a> 
                     {{/if}}
                </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting! And Happy coding!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>