<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
                <a href="/">
                <img src="../../public/assets/logo_tech_talk.png" alt="" width="250" height="70">
                </a>
                <nav>
                    <a href="/">Home</a> |
                    <a href="/dashboard/">Dashboard</a> |
                    <a href="/login/">Login</a> |
                    <a href="/">logout</a>
                </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting! And Happy coding!
        </footer>
    </div>
</body>
</html>