
<form class="login-form">
    <h1>Welcome back!</h1>
    <p>please sign in:</p>
  <div>
    <label for="email-login">Email</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">LOGIN</button>
  </div>
</form>

<form class="signup-form">
    <h1>First time here?</h1>
    <p>please fill out the form below:</p>
  <div>
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">SIGNUP</button>
  </div>
</form>

<script src="/javascript/login.js"></script>